<div class="bg-primary">
  <div>
    <%= link_to "My Lists", lists_path, class: "btn btn-primary" %>
    <%= link_to "+ New", new_list_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container m-3 p-3">
  <h2>My Lists</h2>
  <% @lists.each do |list| %>
    <div style="width: 18rem;">
      <div class="card p-3 my-3" style="background-image: url('<%= cl_image_path list.photo.key %>')">
        <h3 class="text-light"><%= list.name %></h3>
        <div><%= link_to "See Movies", list_path(list), class: "btn btn-primary" %></div>
      </div>
    </div>
  <% end %>
</div>
